<div class="comment_col <%# =  cycle('odd_tr', 'even_tr') %>">
  <div class="comment_author">
    <div class="avatar">
      <a href="<%= comment.user.profile_url %>">
        <%= image_tag(comment.user.profile_image) %>
      </a>
    </div>
    <div class="username">
      <%= link_to comment.user.screen_name, comment.user.profile_url %> </div>
    <div class="comment_date">
      <%= comment.created_at.strftime("%d %B %Y") %> </div>
  </div>

  <div class="single_comment">
    <%= image_tag("comment_arrow.png", :class => "comment_arrow", :size => "17x31", :alt => "Comment Arrow") %>
    <div class="comment_body">
      <%= comment.body %></div>
  </div>
</div>
