<div class="RAvatar">
  <a href="<%= link.user.profile_url %>" target="_blank">
    <%= image_tag(link.user.profile_image) %>
  </a>
</div>

<div class="RName">
  <%= link_to truncate(link.title.to_s, :length => 50), link_path(link.id), :class => "title_link" %>
  <div class="url_link">
    <%= link_to truncate(link.url.to_s, :length => 45), link.url, {:target => "_blank"} %>
  </div>
</div>

<div class="RDate">
  <%= link.created_at.strftime("%d %B %Y") %>
  <br>

  <div>
    <a href="<%= link_path(:id => link.id) %>">
      <%= t(:comments) %>
      <span id="LinkCommentCountId<%= link.id %>">
        <%= link.comments_count %>
      </span>
    </a>
  </div>
</div>

<div class="RCount">
  <div class="Number">
    <%= t(:votes) %>: <span class="VotesCountId<%= link.id %>"> <%= link.votes_count %> </span>
  </div>
  <div class="VoteArrows">
    <div class="VoteArrowsId<%= link.id %>">
      <% if controller.current_user != nil and !link.voted?(controller.current_user) %>
          <%= vote :down, link %>
          <%= vote :up, link %>
      <% end %>
    </div>
  </div>
</div>

<div class="RTwit">
  <%= tweet_button(link) %>
</div>
