<div class="cont">
  <% unless comment.nil? %>
      <%= form_for(comment, :url => :comments_path, :method=>"post", :remote => true) do |t| %>
          <%= t.hidden_field :link_id %>
          <%= t.text_area :body, :rows => 9, :cols => 49 %>
          <%= t.submit(:value => t(:add_comment), :class => "button") %>
      <% end %>
  <% end %>
  <%= link_to t(:tweet_this), {:controller => :link, :action => :tweet_this, :id => link.id}, :remote => true, :id => "tweet_this_link", :class=>"button" %>
  <div id="tweet_this"> &nbsp; </div>
</div>
