<div class="cont">
  <div class="PageRow last">
    <% cache link_cache_key(@link) do %>
        <%= render :partial => "layouts/link_item", :locals => {:link => @link} %>
    <% end %>
  </div>
</div>


<div class="cont">
  <table id="all_comments" cellpadding="0" cellspacing="0">
    <tr class="head" style="display:<%= @comments.blank? ? "none" : "table-row" %>">
      <td class="avatar"></td>
      <td class="username"> <%= t(:user_name) %> </td>
      <td class="comment_body"> <%= t(:comment) %> </td>
      <td class="comment_date"> <%= t(:date) %> </td>
    </tr>
    <tr id="no_comments_message" style="display:<%= !@comments.blank? ? "none" : "table-row" %>">
      <td colspan="4"> <%= t(:not_comments) %> </td>
    </tr>
    <tbody id="ajax_comments"></tbody>
    <tbody id="comments">
    <%= render :partial => "comments" %>
    </tbody>

  </table>
</div>
<div class="cont">
  <% unless @comment.nil? %>
      <%= form_for(@comment, :url => :comments_path, :method=>"post", :remote => true) do |t| %>
          <%= t.hidden_field :link_id %>
          <%= t.text_area :body, :rows => 9, :cols => 49 %>
          <%= t.submit(:value => t(:add_comment), :class => "baton") %>
      <% end %>
  <% end %>

  <% if controller.authorized? %>
      <%= link_to t(:twitt_this), {:controller => :link, :action => :twitt_this, :id => @link.id}, :remote => true, :id => "twitt_this_link", :class=>"baton" %>
      <div id="twitt_this">
        &nbsp;
      </div>
  <% end %>
</div>