<div class="cont">
  <div class="PageRow last">
    <% cache link_cache_key(@link) do %>
        <%= render :partial => "layouts/link_item", :locals => {:link => @link} %>
    <% end %>
  </div>
</div>


<div class="cont">
  <table id="all_comments" cellpadding="0" cellspacing="0">
    <tr id="no_comments_message" style="display:<%= !@comments.blank? ? "none" : "table-row" %>">
      <td colspan="4"> <%= t(:not_comments) %> </td>
    </tr>
    <div id="ajax_comments"></div>
    <div id="comments">
      <%= render :partial => "comments" %>
    </div>

  </table>
</div>

<% if controller.authorized? %>
    <div class="cont">
      <%= form_for(@comment, :url => :comments_path, :method=>"post", :remote => true) do |t| %>
          <%= t.hidden_field :link_id %>
          <%= t.hidden_field :user_id %>
          <%= t(:your_comment) %>:
          <%= t.text_area :body, :rows=>9, :cols=>49 %>
          <%= t.submit(:value=> t(:add_comment), :class=>"button") %>
      <% end %>

      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        <div>
        <a href="http://twitter.com/share" class="twitter-share-button"
          data-url="<%= link_full_url(@link) %>"
          data-text="<%= @link.title %>"
          >Tweet</a>
        </div>
    </div>
<% end %>

