<div id="page_header">
  <div class="menu">

    <div id="logo">
      <a href="/">
        <div id="big_text">
          <!--Ancjias URLS-->
          <%= image_tag("logo4.png") %>
        </div>
      </a>

      <div id="small_text">
        the social networks integration with rails example
      </div>
    </div>

    <% if controller.authorized? %>
        <div class="log_in_out">
          <%= link_to t(:logout), :controller => :twitter, :action => :logout %>
        </div>
        <div class="log_in_out">
          <a href="#" id="add_link" onclick="show_element('new_link_form')"> <%= t(:add_link) %> </a>
        </div>
    <% else %>
        <div class="twitter_but">
          <%= link_to image_tag("/images/twitter_button.gif"), {:controller => :twitter, :action => :login}, :id => "twitter_login_but" %>
        </div>
    <% end %>
    <div class="log_in_out">
      <a href="/link/list"><%= t(:all_links) %></a>
    </div>
    <div class="log_in_out">
      <%= link_to t(:home), root_url %>
    </div>
  </div>

  <% if controller.authorized? %>
      <div id="ruller"></div>
      <div id="user_section">
        <div id="user_ava">
          <img src="<%= controller.current_user.profile_image %>" alt=""/>
        </div>
        <div id="greeting">
          <h3>Welcome <%= link_to controller.current_user.screen_name, controller.current_user.profile_url, :class=>"welcome_link" %></h3>
        </div>
      </div>
  <% end %>

  <div id="system_message"> <%= system_messages %> </div>

  <div id="new_link_form" class="noscript">
    <div id="close_but" onclick="hide_element('new_link_form')"></div>

    <noscript> <div class="new_link_title"> <%= t(:add_link) %> </div> </noscript>

    <%= form_tag '/link/create', :id => "new_link", :remote=>true, :onSubmit => "return verify_new_link();" do %>
        <span id="new_link_title_label"> <%= t(:title) %>:</span></br>
        <%= text_field_tag :new_link_title, nil, :class => "inp" %> </br>
        <span id="new_link_url_label"><%= t(:url) %>:</span></br>
        <%= text_field_tag :new_link_url, nil, :class => "inp" %> </br>
        <%= submit_tag t(:create), :class=>"button" %>
        <%= button_to_function t(:cancel), "hide_element('new_link_form')", :class=>"button" %>
    <% end %>
  </div>

</div>

