<div class="RAvatar">
  <a href="<%= link.user.profile_url %>" target="_blank">
    <%= image_tag(link.user.profile_image) %>
  </a>
</div>


<div class="RName">
  <%= link_to truncate(link.title.to_s, :length => 50), comment_path(:id=>link.id), :class=>"title_link" %>
  <div class="url_link">
    <a href="<%= link.url %>" target="_blank">
      <%= truncate(link.url.to_s, :length => 50) %>
    </a>
  </div>
</div>

<div class="RCount">
  <div class="Number">
    Votes: <span class="VotesCountId<%= link.id %>"> <%= link.votes_count %> </span>
  </div>
  <div class="VoteArrows">
    <div class="VoteArrowsId<%= link.id %>">
      <% if controller.current_user != nil and !link.voted? %>
          <%= vote :up, link %>
          <%= vote :down, link %>
      <% end %>
    </div>
  </div>

</div>

<div class="RDate">
  <%= link.created_at.strftime("%d %B %Y") %>
  <br>

  <div>
    <a href="/link/show/<%= link.id %>">
      <%= t(:comments) %>
      <span id="LinkCommentCountId<%= link.id %>">
        <%= link.comments_count %>
      </span>
    </a>
  </div>

</div>