<div class="TitleRow">
  <div class="Tab_header"><%= header %></div>
</div>

<% links.each_with_index do |link, index| %>
    <div class="PageRow<%= " last" if index == links.size-1 %>">
      <% cache link_cache_key(link) do %>
          <%= render :partial => "layouts/link_item", :locals => {:link => link} %>
      <% end %>
    </div>
<% end %>

<% if under_btns %>
    <div class="UnderRow">
      <div class="under_left">
        <a href="#" id="add_link_button" class="button underbutton" onclick="show_element('new_link_form')"> <%= t(:add_link) %> </a>
      </div>
      <div class="under_right">
        <a href="/link/list" class="button underbutton"> <%= t(:more_links) %> </a>
      </div>
    </div>
<% end %>
