<div class="RAvatar">
  <a href="<%= link.user.profile_url %>" target="_blank">
    <%= image_tag(link.user.profile_image) %>
  </a>
</div>


<div class="RName">
  <%= link_to truncate(link.title.to_s, :length => 50), comment_path(:id=>link.id) %>
  <a href="<%= link.url %>" target="_blank">
    </br>
    <%= truncate(link.url.to_s, :length => 50) %>
  </a>
</div>

<div class="RCount">
  <div class="VoteArrows" id="VoteArrowsId<%= link.id %>">
    <% if controller.current_user != nil and !link.voted? %>
        <div class="Plus" onclick="vote(1,<%= link.id %>, this)"><span class="right_but"></span></div>
        <div class="Minus" onclick="vote(-1,<%= link.id %>, this)"><span class="right_but"></span></div>
    <% end %>
  </div>
  <div class="Number" id="VotesCountId<%= link.id %>">
    <%= link.votes_count %>
  </div>
</div>

<div class="RDate">
  <%= link.created_at.strftime("%d %B %Y") %>
  <br>

  <div>
    <a href="/link/show/<%= link.id %>">
      <%= t(:comments) %>
      <span id="LinkCommentCountId<%= link.id %>">
        <%= link.comments_count %>
      </span>
    </a>
  </div>

</div>